<div class="container">
  <h2>Consulta N° 000010000</h2>
  <section class="consult-information">
    <div class="ticket-information">
      <div class="information-container">
        <label class="section">DNI Cliente</label>
        <span class="information">74998745</span>
      </div>
      <div class="information-container">
        <label class="section">Nombre Cliente</label>
        <span class="information">Angel</span>
      </div>
      <div class="information-container">
        <label class="section">Fecha de registro</label>
        <span class="information">24/08/2023</span>
      </div>
      <div class="information-container">
        <label class="section">Prioridad</label>
        <span class="information">Alta</span>
      </div>
      <div class="information-container">
        <label class="section">Estado</label>
        <span class="information">En espera</span>
      </div>
    </div>
    <div class="consult-container">
      <div class="information-container consult-information-container">
        <label class="section">Consulta</label>
        <span class="information consult">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat eaque saepe molestiae quae, veritatis ab cum. Culpa assumenda velit quo consectetur nihil, ut recusandae facilis excepturi sit, vitae consequuntur autem.
        </span>
      </div>
    </div>
  </section>
  <app-logboock></app-logboock>
  <app-solution-query></app-solution-query>
</div>
